body
{
    background-color: #212121;

    background-image: url("http://207.180.212.190/dragula.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

a
{
    color: #cc7bbb;

    /*text-shadow: none;*/
}

mark
{
    color: #c9c9c9;
    background-color: #000000;
}

.welcome_text
{
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 45vh;

    color: #c9c9c9;

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

    /*text-shadow: 1.5px 1.5px #000000;*/
}

.about
{
    text-align: justify;

    display: table;
    margin: auto;

    inline-size: 400px;

    color: #a8a6a6;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;

    /*text-shadow: 1.5px 1.5px #000000;*/
}

.social
{
    text-align: justify;

    display: table;
    margin: auto;
}

.rickroll
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.twinkies
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.reee
{
    color: #a8a6a6;
    text-decoration: none;
}
